<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="__STATIC__/index/style/index.css">
    <link rel="stylesheet" href="__STATIC__/index/style/my.css">
    <script type="text/javascript" src="__STATIC__/index/js/jquery-1.11.3.min.js" ></script>
    <script type="text/javascript" src="__STATIC__/index/jqueryScrollBanner/js/jquery.scrollBanner.js" ></script>
    <script type="text/javascript" src="__STATIC__/index/js/index.js"></script>
</head>
<style>

</style>

<body>
<div id="content">
    <div id="header">
        <div class="navfooter">
            <div class="nav">
                <h1 class="logo">
                    <a href="#">
                        <!-- LOGO -->
                        <img src="__STATIC__/index/images/logo.png" alt="">
                    </a>
                </h1>
                <ul class="header-right">
                    <li class="a1">
                        <a href="#home">首页</a>
                    </li>
                    <li class="a2"><a href="#service">热门服务</a></li>
                    <li class="a3"><a href="Services.html">关于我们</a></li>
                    <li class="a4"><a href="Rooms.html">联系我们</a></li>
                    <!--<li class="a5"><a href="Shortcodes.html"></a></li>-->
                    <!--<li class="a6"><a href="Contact.html"></a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <div id="main">
        <!-- 主页 -->
        <!--轮播部分-->
        <div id="home">
        <div id="banner">
        </div>
        <div  class="mr">
            <div >
                <div>
                    <h2>T  8  N</h2>
                    <h6>拓  吧</h6>
                    <p>拓展未来，开创新天地</p>
                </div>
            </div>
        </div>
        </div>
        <!-- 服务 -->
        <div id="service">
            <div class="top">
                <h2>热门服务</h2>
            </div>
            <div class="star">
                <div>
                    <div class="stara">
                        <div>
                            <div class="imga">
                                <img src="__STATIC__/index/images/s1.png" alt="">
                            </div>
                            <div class="text">
                                <h4>网站建设</h4>
                                <p>网页设计 、 网站开发 、 网站改版 、微信开发 、 移动开发 、 app开发 、 网站建设与维护 </p>
                            </div>
                        </div>
                        <div>
                            <div class="imga">
                                <img src="__STATIC__/index/images/s2.png" alt="">
                            </div>
                            <div class="text">
                                <h4>平面设计</h4>
                                <p>VI/CI设计 、 标志设计 、 图形/图案设计 、 字体/字形设计 、 宣传单/平面广告设计 、 海报设计 、 包装设计 、 书装/画册设计 、 PPT/演示设计 、 其他平面设计 </p>
                            </div>
                        </div>
                        <div>
                            <div class="imga">
                                <img src="__STATIC__/index/images/s3.png" alt="">
                            </div>
                            <div class="text">
                                <h4>营销策划</h4>
                                <p>搜索引擎营销 、 社会化营销 、 微信营销 、 互联网公关 、 移动互联网营销 </p>
                            </div>
                        </div>
                    </div>
                    <div class="starb">
                        <div>
                            <div class="imga">
                                <img src="__STATIC__/index/images/s4.png" alt="">
                            </div>
                            <div class="text">
                                <h4>电商服务</h4>
                                <p>淘宝、天猫、京东店铺设计装修 、 普通详情设计 、 营销型详情页设计 、 直通车、钻展小图设计 、 banner设计 、 海报设计 </p>
                            </div>
                        </div>
                        <div>
                            <div class="imga">
                                <img src="__STATIC__/index/images/s5.png" alt="">
                            </div>
                            <div class="text">
                                <h4>营销策划</h4>
                                <p>搜索引擎营销 、 社会化营销 、 微信营销 、 互联网公关 、 移动互联网营销</p>
                            </div>
                        </div>
                        <div>
                            <div class="imga">
                                <img src="__STATIC__/index/images/s6.png" alt="">
                            </div>
                            <div class="text">
                                <h4>营销策划</h4>
                                <p>搜索引擎营销 、 社会化营销 、 微信营销 、 互联网公关 、 移动互联网营销</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="you-me">
            <div class="top">
                <h2>精品案例</h2>
            </div>
            <div class="you">
                <div>
                    <h1>全力打造</h1>
                    <h6>T8N</h6>
                    <p>我们将为您提供权威的品牌网站建设、网页设计制作、平面设计、logo设计、VI设计、广告拍摄、产品摄影、营销策划以及淘宝/天猫/京东设计装修等服务，专业级的制作帮助您打造高端的品牌效果。</p>
                    <a href="#">Discover More</a>
                </div>
            </div>
            <div class="top">
                <h2>服务流程</h2>
            </div>
            <div class="our">

                <div class="oura">
                    <a href="Rooms.html">
                        <img src="__STATIC__/index/images/b6.jpg" alt="">
                        <div class="our1">
                            <span>+</span>
                        </div>
                    </a>
                </div>
                <div class="ourb">
                    <div>
                        <a href="Rooms.html">
                            <img src="__STATIC__/index/images/b1.jpg" alt="">
                            <div class="our2">
                                <span>+</span>
                            </div>
                        </a>
                    </div>
                    <div style="margin-top:5px;">
                        <a href="Rooms.html">
                            <img src="__STATIC__/index/images/b2.jpg" alt="">
                            <div class="our2">
                                <span>+</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ourb">

                    <div>
                        <a href="Rooms.html">
                            <img src="__STATIC__/index/images/b3.jpg" alt="">
                            <div class="our2">
                                <span>+</span>
                            </div>
                        </a>
                    </div>
                    <div style="margin-top:5px;">
                        <a href="Rooms.html">
                            <img src="__STATIC__/index/images/b4.jpg" alt="">
                            <div class="our2">
                                <span>+</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="oura">
                    <a href="Rooms.html">
                        <img src="__STATIC__/index/images/b5.jpg" alt="">
                        <div class="our1">
                            <span>+</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="top">
            <h2>核心团队</h2>
        </div>
        <div class="lor">

            <div>
                <img src="__STATIC__/index/img/">
                <p>

                </p>
            </div>
        </div>
        <div class="top">
            <h2>我们的技术</h2>
        </div>
        <div class="we">
            <div class="wel">
                <h3>Welcome</h3>
                <div>
                    <h4>758</h4>
                    <span><img src="__STATIC__/index/images/s7.png" alt=""></span>
                    <h5>Lorem Ipsum</h5>
                </div>
                <div>
                    <h4>4,790</h4>
                    <span><img src="__STATIC__/index/images/s8.png" alt=""></span>
                    <h5>Lorem Ipsum</h5>
                </div>
                <div>
                    <h4>7,720</h4>
                    <span><img src="__STATIC__/index/images/s9.png" alt=""></span>
                    <h5>Lorem Ipsum</h5>
                </div>
                <div>
                    <h4>190</h4>
                    <span><img src="__STATIC__/index/images/s10.png" alt=""></span>
                    <h5>Lorem Ipsum</h5>
                </div>
            </div>
        </div>
        <div class="top">
            <h3>最新动态</h3>
        </div>
        <div class="latest">
            <div>
                <div class="imgs">
                    <div>
                        <a href="Rooms.html">
                            <img src="__STATIC__/index/images/b7.jpg" alt="">
                            <div class="zhuzhao">
                                <div class="top">
                                    T 8 N
                                </div>
                                <div class="bottom">
                                    拓跋
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="Rooms.html">
                            <img src="__STATIC__/index/images/b8.jpg" alt="">
                            <div class="zhuzhao">
                                <div class="top">
                                    T 8 N
                                </div>
                                <div class="bottom">
                                    拓跋
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="Rooms.html">
                            <img src="__STATIC__/index/images/b9.jpg" alt="">
                            <div class="zhuzhao">
                                <div class="top">
                                    T 8 N
                                </div>
                                <div class="bottom">

                                    拓跋
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="footera">
            <div>
                <div class="a1">
                    <img src="__STATIC__/index/images/" alt="">
                    <!-- logo -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <a href="#">Read More</a>
                </div>
                <div class="a2">
                    <h3>Address</h3>
                    <p>Eye Associates Of Virginia?</p>
                    <p>5875 Bremo Road</p>
                    <p>Richmond, VA(Virginia) 23226</p>
                    <p>(804) 287-4216</p>
                    <p>Alice Merriman</p>
                </div>
                <div class="a3">
                    <h3>Contact Us</h3>
                    <form>
                        <input id="put1" type="text" value="Email">
                        <input id="put2" type="submit" value="Send">
                    </form>
                    <ul>
                        <li style="background-position: 10px 0;"></li>
                        <li style="background-position: -44px 1px;"></li>
                        <li style="background-position: -101px 0;"></li>
                        <li style="background-position: -153px 0;"></li>
                    </ul>
                </div>
                <div class="a4">
                    <h3>Quick Link</h3>
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="About.html">About</a>
                        </li>
                        <li>
                            <a href="Services.html">Services</a>
                        </li>
                        <li>
                            <a href="Rooms.html">contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footerb">
            <div>
                <a href="#">T  8   N</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#banner").scrollBanner({
        images : [
            {src:"__STATIC__/index/jqueryScrollBanner/img/banner1.jpg",title:"banner1",href:"http://***"},
            {src:"__STATIC__/index/jqueryScrollBanner/img/banner3.jpg",title:"banner3",href:"http://***"},
            {src:"__STATIC__/index/jqueryScrollBanner/img/banner4.png",title:"banner4",href:"http://***"},
            {src:"__STATIC__/index/jqueryScrollBanner/img/banner5.jpg",title:"banner4",href:"http://***"},
            {src:"__STATIC__/index/jqueryScrollBanner/img/banner6.jpg",title:"banner4",href:"http://***"},
            {src:"__STATIC__/index/jqueryScrollBanner/img/banner7.jpg",title:"banner4",href:"http://***"}
        ],
        scrollTime:4000,
        bannerHeight:"700px",
        iconColor: "#FFFFFF",
        iconHoverColor : "#82C900",
        iconPosition : "center"
    });

</script>
</body>
</html>